.Subject {
  background-color: #fdb813;
  border-color: #fdb813;
}

.Grade {
  background-color: #72c267;
  border-color: #72c267;
}

.Focus {
  background-color: #fdb813;
  border-color: #fdb813;
}

.Type {
  background-color: #fdb813;
  border-color: #fdb813;
}

.Use {
  background-color: #72c267;
  border-color: #72c267;
}

.Location {
  background-color: #f47d21;
  border-color: #f47d21;
}

.Duration {
  background-color: #f47d21;
  border-color: #f47d21;
}

.Delivery {
  background-color: #72c267;
  border-color: #72c267;
}

.Materials {
  background-color: #5c8cc7;
  border-color: #5c8cc7;
}
